#wrap {
    width: 1000px;
    margin: 0 auto;
    display: none;
    overflow: hidden;
}
#round-info {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
}

.item {
    width: 500px;
    float: left;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}
.item > div > img {
    width: 400px;
}
.item > div:last-child,
#final-name {
    font-size: 30px;
    padding: 20px;
    background-color: rgb(252, 158, 231);
}
#final {
    text-align: center;
    display: none;
}