
#wrap {
    background: linear-gradient( rgba(149, 100, 255, 0.2) 0%, rgba(243, 101, 255, 0.182) 100%);
    height: 1800px;
}

/* 헤더 타이틀 */
.header_tit h1, h3 {
    text-align: center; 
    display:block;
}
.header_tit h1 {
    font-size: 50px;
    padding: 40px 0 0;
    background: linear-gradient(156.04deg, #5201FF 25.13%, rgba(113, 101, 255, 0.91) 68.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.header_tit h3 {
    font-size: 30px;
    background: linear-gradient(180deg, #5201FF 0%, rgba(243, 101, 255, 0.91) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

/* 셀렉트박스 */
.selectbox {
    text-align: center;
    position: relative;
}

.toggle_btn {
    border:0; padding: 0; margin: 0; background: none;
    position: relative;
    display: inline;
    
}

.toggle_btn span {
    position:absolute; left: 15px; top: 20px;
    color: #7b42f8;
    font-size: 15px;
    font-weight: bold;
}


.toggle_btn:hover span{
    color:rgb(0, 247, 255);
}

.hidden {
    display: none;
}

#selectbox_option_hidden img {
margin-bottom: -4px;
}

#selectbox_option_hidden button {    
    position: relative;
}
#selectbox_option_hidden li span {
    position:absolute; left: 18px; top: 21px;
    color: #7b42f8;
    font-size: 14px;
    font-weight: bold;
}

#selectbox_option_hidden button:hover span{
    color:rgb(0, 247, 255);
}

/* 시작버튼 */
.start_btn {
    text-align: center;
    margin: 55px 0;
    
}

.start_btn button{
    position: relative;
}

.start_btn span {
    position: absolute;
    left: 89px;
    top: 15px;
    color:#fff;
    font-size: 25px;
    font-weight: bold;
}

.start_btn button:hover span {
    color:rgb(0, 247, 255);
}

/* 컨텐츠 */
#cont_wrap {
    width: 1000px;
    margin: 0 auto;
    display: none;
    overflow: hidden;
}

#round-info {
    text-align: center;
    width: 998.5px;
    background: linear-gradient(360deg, rgba(82, 1, 255, 0.96) 0.61%, #F365FF 100%);
    color: white;
    font-size: 40px;
}

.item {
    width: 500px;
    float: left;
    text-align: center;
    border: 3px solid #5201FF;
    margin-right: -1.5px ;
    box-sizing: border-box;
}
.item > div > img {
    width: 400px;
    height: 400px;
}
.item > div:last-child,
#final-name {
    font-size: 30px;
    padding: 20px;
    background-color: rgb(252, 158, 231);
}
#final-link {
    font-size: 30px;
    padding: 20px;
    background-color: rgb(252, 158, 231);
}

#final {
    text-align: center;
    display: none;
}